
@{
    ViewBag.Title = "Import_Template_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(Url.Content("~/Content/database.css"))
<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox iconSet iconImport">
            <h1>商品説明文データインポート</h1>
            <div class="dbCmnSet itemDateImp" role="form">
                <div>
                    商品説明文データ
                    <input type="file" id="uploadFile1" style="border:1px solid #b5b5b5;" name="uploadFile1" />
                    <input type="button" id="btnImport" value="インポート開始" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnImport").click(function () {
               var fileUpload = $("#uploadFile1").get(0);
                var files = fileUpload.files;
                var formData = new FormData();
                formData.append("fileName", $("#uploadFile1").val().replace(/C:\\fakepath\\/i, ''));
                formData.append("file", $("#uploadFile1")[0].files[0]);
                formData.append("importType", "商品");

                $.ajax({
                    url: '/api/ImportApi/Import_Item_Data_Save',
                    type: 'POST',
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formData,
                    async: false,
                    headers:
                    {
                        Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                    },
                    success: function (data) {
                       alert('OK');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                       alert('Error');
                    }
                });

            });
        });

    </script>
}

