@using Models;
@model Models.UserModel

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/user.css")

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconList">
            <h1>ユーザ一覧</h1>
            <!-- User search -->
            <div class="userCmnSet resetValue searchBox">
                <h2>ユーザ検索</h2>
                <dl>
                    <dt>ユーザー名</dt>
                    <dd> <input type="text" id="txtuser" /></dd>
                    <dt>ステータス</dt>
                    <dd>
                        <input type="radio" id="RadioButton1" name="status" value="1" checked/><span> 有効</span>
                        <input type="radio" id="RadioButton2" name="status" Value="0" /><span> 無効</span>
                        <input type="radio" id="RadioButton3" name="status" value=""  /><span> 全て</span>
                    </dd>                   
                </dl>
                <p>
                    <input type="button" id="btnSearch" value="検索">
                </p>
            </div>

            <div class="operationBtn">
                <p>
                    <input type="button" value="ユーザーを追加する" onclick="UserEdit('','New')"/>
                </p>
            </div>

            <div class="userCmnSet resetValue editBox">
                <table class="listTable" id="tbluserlist" style="width:100%;">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>ユーザ名</th>
                            <th>Login_ID</th>
                            <th>ステータス</th>
                            <th>登録日</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //call user list
            BindTable();

            //call user list by search type
            $("#btnSearch").click(function () {
                BindTable();
            })
        });

        function BindTable() {
            var obj = { UserName: $("#txtuser").val(), Status: $("input[name='status']:checked").val() };
            table = $('#tbluserlist').DataTable({
                data: JSON.parse(CalltoApiController('@Url.Action("User_Select", "api/UserApi")', obj)),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": false,
                destroy: true,
                "dataSrc": " ",
                "columns": [
                    { "data": "UserID", "className": "dt-center" },
                    { "data": "UserName" },
                    { "data": "UserID" },
                    { "data": "Status", className: "dt-center" },
                    { "data": "UpdatedDate", className: "dt-center" }
                ],
                "columnDefs": [{
                    "targets": 0,
                    "data": "UserID",
                    "render": function (data) {
                        return '<input type="button" style="width:70px;margin:3px;" onclick="UserEdit(\'' + data + '\',\'Edit\')" value="編集">';
                    }
                }
                ]
            });
        }        

        //call user Edit 
        function UserEdit(data, mode) {
            window.location.href = '@Url.Action("UserEntry", "User")?UserID=' + data + "&Mode=" + mode;           
        }
    </script>
}

