#block {
    position: fixed;
    background: #fff;
    top: 100px;
    z-index: 99;
    width: 305px;
}
#scrollArea {
    margin-left: 310px;
}

div.setDetailBox .fixed_header {
    letter-spacing: 0.1em;
    position: fixed;
    width: 75%;
    z-index: 99;
    background: white;
    height: 60px;
    margin-top: -10px;
    padding-top: 10px;
}

div.setDetailBox .row{
    padding-top: 50px;
}

#CmnContents {
    display: flex;
    justify-content:center
 }

.item1 tr td > input[type="text"] {
    width: 130px;
    margin-bottom: 4px;
}

    .item1 tr td > #text1 {
        width: 270px;
        height: 23px;
    }
div.setDetailBox input[type="text"].RP, div.setDetailBox .RPName, div.setDetailBox .RPComment {
    width: 100px;
}

/*---商品詳細情報---*/
div.setDetailBox input[type="text"].ProductDetail, div.setDetailBox input[type="text"].ProductInfo {
    width: 105px;
    height: 15px;
    margin-right: 5px;
}
div.setDetailBox .ProductDetailContent, div.setDetailBox .ProductInfoContent {
    width: 190px;
    height: 56px;
}
div#scrollArea #hbProductDetail p, div#scrollArea #hbProductInfo p {
    border-left: 3px solid #73c5ff;
    border-bottom: 1px solid #73c5ff;
    background-color: #E1F5FE;
    padding: 3px;
    height: 17px;
    background-image: url('../images/btn_on-off.gif');
    background-position: 11px 3px;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 27px;
    width: 100%;
}
    div#scrollArea #hbProductDetail p.active, div#scrollArea #hbProductInfo p.active {
        background-position: 11px -25px;
    }
div#scrollArea .item4, div#scrollArea .item5 {
    display: block;
}
    div#scrollArea .item4 .hideProductDetail, div#scrollArea .item5 .hideProductInfo {
        display: none;
    }
/*---商品詳細情報---*/

.evidence {
    border-left: 3px solid #73c5ff;
    border-bottom: 1px solid #73c5ff;
    background-color: #E1F5FE;
    padding: 3px;
    width: 100px;
}

.item1 img {
    width: 52px;
    height: 52px
}

.item1 tr th > #btnRegister1 {
    width: 80px;
    margin-left:40px
}

.item1 tr th > #btnRegister2 {
    width: 80px;
    margin-left: 20px;
   
}

.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}

.item1 {
    margin-top: 3px;
    width: 292px;
}

    .item1 tr th > #hideBlocks {
        background-color: #73C2FB;
        height: 17px;
        padding: 3px;
        border-bottom: 1px dashed #333;
        background-image: url('../images/btn_on-off.gif');
        background-position: 11px -25px;
        background-repeat: no-repeat;
        text-align: left;
        padding-left: 27px;
    }

    .item1 tr > #th1, .item1 tr .th1 {
        border-left: 3px solid #0288D1;
        background-color: #73C2FB;
        padding: 3px;
        height: 2px;
    }

.itemPC, .itemOption, .option, .imgCampaign, .shopCategory, .categoryID, .itemCategoryID {
    width: 100%;
}
        .itemPC tr:last-child td{
            padding-top: 5px;
            padding-bottom: 10px;
        }

/*---オプション---*/
span {
    letter-spacing: 0.1em;
    white-space: nowrap;
}
.option tr td{
    height:15px;
}
    .option tr td:first-child{
        width: 30%;
    }
    .option tr td:first-child input[type="text"] {
        width: 70%;
    }
.option tr td:last-child input[type="text"]{
    width: 85%;
}
/*---オプション---*/
/*--キャンペーン画像--*/
div.setDetailBox input[type="text"].CampaignImg, div.setDetailBox input[type="text"].txtshopCategory {
    width: 100%;
}
.lblCampaignImage {
    border-left: 3px solid #73c5ff;
    border-bottom: 1px solid #73c5ff;
    background-color: #E1F5FE;
    padding: 3px;
}
.imgCampaign tr:last-child td input[type="text"], .txtshopCategory {
    margin-bottom: 2px;
}
/*--キャンペーン画像--*/
/*---カテゴリID - Yahooスペック---*/
.itemCategoryID tr td{
    padding-right: 0px;
}
.lblCategoryID {
    border-left: 3px solid #73c5ff;
    border-bottom: 1px solid #73c5ff;
    background-color: #E1F5FE;
    padding: 3px;
    height: 15px;
    vertical-align: top;
}
.categoryID tr td, .categoryID1 tr td {
    height: 15px;
}
    .categoryID tr td:first-child, .categoryID1 tr td:first-child {
        width: 30%;
        text-align: right;
    }
    .categoryID tr td:first-child input[type="text"] {
        width: 70%;
    }
.categoryID tr td:nth-child(2) input[type="text"]{
    width: 100%;
}
    .categoryID tr td:last-child, .categoryID1 tr td:last-child {
        width: 50px;
        padding-right: 0px;
    }
.dBlock table:last-child.categoryID1 tr td input[type="text"]{
    width:100%;
}
/*---カテゴリID - Yahooスペック---*/
div.setDetailBox .PCTextArea {
    width: 100%;
}

.th2, .PCLabel, .lblOption, .lblshopCategory, .lblJan, .lblTagID, .lblShop {
    border-left: 3px solid #73c5ff;
    border-bottom: 1px solid #73c5ff;
    background-color: #E1F5FE;
    padding: 3px;
    height: 15px;
    vertical-align: top;
    white-space: nowrap;
}
.item2 tr > td, .item3 tr > td {
    height: 15px;
}

.item2 td #lblYear, .item2 td #lblSeason {
    margin-top: 10px;
    width: 25%;
    padding-right: 15px;
    font-size: 12px;
    height: 2px;
}

.item2 td #lblCatalogInfo {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 12px;
    height: 2px;
}
.item2{
    margin-top: 10px;
}

table #td1 {
    height: 40px;
    padding-bottom: 20px;
    font-size: 12px;
    padding-right: 5px;
}

table #td {
    height: 25px;
    padding-bottom: 5px;
    font-size:12px;
}

label {
    border-left: 3px solid #0288D1;
    background-color: #73C2FB;
    padding: 3px;
    height: 15px;
    margin-bottom: 1px;
    width: 60px;
    margin-right: 15px;
    font-weight: bold;
}

/*--JAN--*/
.col-md-2 .Jan tr th.lblJan {
    width: 80%;
}
.col-md-5 .Jan tr th.lblJan {
    width: 30%;
}
.col-md-5 .Jan tr td input[type="text"] {
    width: 100%;
}
.Jan tr td{
    height: 15px;
}
/*--JAN--*/

/*--タグID--*/
table.TagID{
    width: 100%;
    margin-top: 10px;
}
.TagID p {
    border-bottom: 1px dotted #000;
    padding: 3px;
    height: 17px;
    background-image: url('../images/btn_on-off.gif');
    background-position: 11px 3px;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 27px;
    width: 100%;
    letter-spacing: 0.1em;
    font-size: 15px;
    font-weight: bold;
}
.TagID tr td{
    width: 23%;
}
div.setDetailBox input[type="text"].txtTagID, .tblTagID {
    width: 100%;
}
    .tblTagID tr th, .tblTagID tr td {
        border: 1px solid;
        border-color: inherit;
        width: 50%
    }
    .tblTagID tr th{
        text-align:center;
    }
/*--タグID--*/
/*--出品対象ショップ--*/
.tblShop tr {
    border-bottom: 1px solid;
    border-color: inherit;
}
/*--出品対象ショップ--*/