@charset "utf-8";

#CmnContent{
   width:auto
}

div.itemCmnSetKnr.searchBox div > table th {
        width: 110px;
        font-size: 10px;
    }

    div.searchBox div > table th {
        text-align: right;
        margin-bottom: 1px;
        font-weight: normal;
    }

    div.itemCmnSetKnr.searchBox div > table td select {
        font-size: 10px;
        width: 120px;
    }

    div.itemCmnSetKnr.searchBox div > table td input {
        width: 120px;
    }

    div.searchBox div > table td select, div.searchBox div > table td input[type="text"], div.searchBox div > table td textarea {
        width: 120px;
        vertical-align: bottom;
    }

    
