#CmnContents {
    width: 1000PX;
}

.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
}

.item1 {
    margin-left: 15px;
    margin-top:30px;
    width:300px
 }

   .item1 tr > #th1 {
        border-left: 3px solid #4682b4;
        background-color: #b0e0e6;
        padding: 3px;
        height: 2px;
    }
   
     .item2 tr > #th2 {
        border-left: 3px solid #4682b4;
        background-color: #b0e0e6;
        padding: 3px;
        height: 2px;
    }

.item2 td {
    margin-top: 10px;
    padding-right: 55px;
    font-size: 12px;
    height: 2px;
}


table #td1 {
    height:50px;
    padding-bottom:30px;
   
}

 label{
    border-left: 3px solid #4682b4;
    background-color: #b0e0e6;
    padding: 3px;
    height: 14px;
    margin-bottom:1px;
    width:60px;
    margin-right:20px
     
}






