@charset "utf-8";

/*--------------------------------------------------------------------------------------
  [3]User
--------------------------------------------------------------------------------------*/

div.userCmnSet.searchBox input[type="radio"] {
	width: 16px;
}

div.userCmnSet.searchBox dd:last-of-type {
	width: 200px;
}
input[type='button'] {
    width: 150px;
    height: 25px;
}
div .userCmnSet.searchBox dd input[type='button'] {
    margin-left: 30px;
}
.table thead th {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}    
.table tbody td {
    padding: 0px;
    vertical-align: middle;
}
.dt-center
{
    text-align:center;
}



