
form input, form select, form textarea {
    border: 1px solid #b5b5b5;
    background: #fff;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
    width: 189px;
}

form input[type=button] {
    height: 25px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 );
    width: 100px;
    margin-left: auto !important;
}

