
.row {
    margin: 200px;
}

.card {
    width: 400px;
    border-radius: 5px 5px 0px 0px;
    border-color: #73c5ff;
    font-size: 12px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.card-header {
    font-weight: bold;
    background: #73c5ff;
    padding: 10px;
}

.card-body {    
    padding: 13px;
}

input[type=text], input[type=password] {
    border: 1px solid #b5b5b5;
    background: #fff;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
    width: 189px;
}

.txtmargin, .form-group {
    margin: 2px;
}

label {
    margin: 0px;
}

.imgLogo {
    width: 120px;
    height: 115px;
}

.divlogin {    
    padding: 15px;
    margin-left: 77px;
}

input[type=button] {
    margin-top:5px;
    height: 25px;
    width: 100px;
}

span {
    color: #ff0000;
}
