@charset "utf-8";

/*--------------------------------------------------------------------------------------
  [3]User
--------------------------------------------------------------------------------------*/
/*div.setDetailBox table.userCmnSet.editTable {
	width: 98%;
	margin: 0px auto;
}*/

div.userCmnSet.searchBox input[type="radio"] {
	width: 16px;
}

div.userCmnSet.searchBox dd:last-of-type {
	width: 200px;
}
input[type='button'] {
    width: 150px;
    height: 25px;
}
div .userCmnSet.searchBox dd input[type='button'] {
    /*width: 150px;
    height: 25px;*/
    margin-left: 30px;
}

th{
    text-align:center;
}

/*.row{
    width:100%;
}*/



