
@{
    ViewBag.Title = "ShopList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconList">
            <h1>ショップ一覧</h1>
            <!-- User search -->
            <div class="userCmnSet resetValue searchBox">
                <h2>ショップ検索</h2>
                <dl>
                    <dt>ショップ名</dt>
                    <dd><input type="text" id="ShopName" /></dd>
                    <dt>出店モール</dt>                    
                    <dd><select id="ddlMall"></select></dd>
                    <dt>ステータス</dt>
                    <dd>
                        <input type="radio" id="RadioButton1" name="status" value="1" checked /><span> 有効</span>
                        <input type="radio" id="RadioButton2" name="status" Value="0" /><span> 無効</span>
                        <input type="radio" id="RadioButton3" name="status" value="" /><span> 全て</span>
                    </dd>
                </dl>
                <p>
                    <input type="button" id="btnSearch" value="検索">
                </p>
            </div>

            <div class="operationBtn">
                <p>
                    <input type="button" value="ショップを追加する" onclick="ShopEdit('', 'New')"/>
                </p>
            </div>

            <div class="userCmnSet resetValue editBox">
                <table class="listTable" id="ShopList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ショップ名</th>
                            <th>出店モール</th>
                            <th>ステータス</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            BindMall();
            Search();
            $("#btnSearch").click(function () {
                Search();
            })
        });

        function Search() {
            var obj = {
                    ShopName: $("#ShopName").val(),
                    Status: $("input[name='status']:checked").val()
                };
                var response = CalltoApiController('@Url.Action("Shop_Select", "api/ShopApi")', obj);
                BindTable(response);
        }

        function BindMall() {
            var obj = {
                MallID: "",
            };
            var response = CalltoApiController('@Url.Action("Mall_Select", "api/MallApi")', obj);
            var items = JSON.parse(response);

            $("#ddlMall").empty();            
            $.each(items, function (i, item) {
                $("#ddlMall").append(
                    $('<option></option>').val(item.MallID).html(item.MallName));
            });
            $("#ddlMall").val('');
        }

        function BindTable(response) {
            table = $('#ShopList').DataTable({
                data: JSON.parse(response),
                destroy: true,
                "dataSrc": " ",
                "searching":false,
                "columns": [
                    { "data": "ShopID", "width": "30%", "className":"dt-center" },
                    { "data": "ShopName","width":"40%"},
                    { "data": "MallName","width":"20%"},
                    { "data": "Status", "width": "20%", "className":"dt-center"},
                ],
                "columnDefs": [
                    {
                    "targets": 0,
                    "data": "ShopID",
                    "render": function (data) {
                        return '<input type="button"  onclick="ShopEdit(\'' + data +'\',\'Edit\')" style="width:70px;margin-right:5px" value="編集"><input type="button" style="margin-right:5px" value="デフォルト値設定"><input type="button" value="固定値設定">'
                        }
                    },
                ]
            });
        }

        function ShopEdit(data, mode) {
           window.location.href = '@Url.Action("ShopEntry", "Shop")?id=' + data + "&mode=" + mode;  
        }

    </script>
}
