
@{
    ViewBag.Title = "Shop_TemplateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconList">
            <h1>スマートテンプレート一覧</h1>
            <!-- User search -->
            <div class="resetValue searchBox">
                <h2>スマートテンプレート検索</h2>
                <dl>
                    <dt>テンプレートID</dt>
                    <dd> <input type="text" id="TemplateID" maxlength="50" /></dd>
                    <dt>テンプレート名</dt>
                    <dd> <input type="text" id="TemplateName" maxlength="50" /></dd>
                    <dt>ステータス</dt>
                    <dd>
                        <input type="radio" id="RadioButton1" name="status" value="1" checked /><span> 有効</span>
                        <input type="radio" id="RadioButton2" name="status" value="0" /><span> 無効</span>
                        <input type="radio" id="RadioButton3" name="status" value="" /><span> 全て</span>
                    </dd>
                </dl>
                <p>
                    <input type="button" id="btnSearch" value="検索">
                </p>
            </div>

            <div class="operationBtn">
                <p>
                    <input type="button" value="スマートテンプレートを追加する" style="width:100%" onclick="ShopTemplateEdit('','New')" />
                </p>
            </div>

            <div class="resetValue editBox">
                <table class="listTable" id="tblshopTemplatelist">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>テンプレートID</th>
                            <th>テンプレート名</th>
                            <th>ステータス</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            Search();
            $("#btnSearch").click(function () {
                Search();
            })
        });

        function Search() {
            var obj = {
                    TemplateID: $("#TemplateID").val(),
                    TemplateName: $("#TemplateName").val(),
                    Status: $("input[name='status']:checked").val()
                };
                var response = CalltoApiController('@Url.Action("ShopTemplate_List", "api/ShopApi")', obj);
                BindTable(response);
        }

        function BindTable(response) {
            table = $('#tblshopTemplatelist').DataTable({
                data: JSON.parse(response),
                destroy: true,
                "dataSrc": " ",
                "searching":false,
                "columns": [
                    { "data": "TemplateID", "width": "10%", "className":"dt-center" },
                    { "data": "TemplateID","width":"30%"},
                    { "data": "TemplateName","width":"40%"},
                    { "data": "Status", "width": "20%", "className":"dt-center"},
                ],
                "columnDefs": [
                    {
                    "targets": 0,
                    "data": "",
                    "render": function (data) {
                        return '<input type="button" style="width:70px;margin-right:5px" value="編集" onclick ="ShopTemplateEdit(\'' + data + '\',\'Edit\')">';
                        }
                    },
                ]
            });
        }

        function ShopTemplateEdit(data,mode) {
            window.location.href = '@Url.Action("Shop_TemplateEntry", "Shop")?TemplateID=' + data + "&Mode=" + mode; 
        }

    </script>
}


