
<div id="exportcolumnlistModal" data-iziModal-title="項目選択" data-iziModal-icon="icon-home">
    <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
        <table class="userCmnSet editTable"  style="margin-bottom:0px;">
            <tbody>
                <tr>
                    <th></th>
                    <td>
                        <div>
                            <table cellspacing="0" id="tblColumnList" style="border-collapse:collapse;table-layout:fixed;width:100%">
                                <thead>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="button" id="btnAddColumn" value="OK" Style="width:80px;" onclick="AddColumnName();"/>
                        <input type="button" id="btnClose" value="Close" style="width:80px" onclick="CloseExportModal()" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
<link href="@Url.Content("~/Content/user.css")" rel="stylesheet" />

<script type="text/javascript">
    var AutoID = ""; 
    $(document).ready(function () {
        exportListarr = [];        
        AutoID = $("#AutoID").val();
        if ($("#ExportValueID").val() != "") {
            var ExportValueIDStr = $("#ExportValueID").val();
            exportValueIDArr = ExportValueIDStr.split(',');
        }
        BindColumn();
    });

    function BindColumn() {
        var obj = {
            TableColumnName: '',
        };
        var response = CalltoApiController('@Url.Action("ExportColumn_Select", "api/SearchApi")', obj);
        var items = JSON.parse(response);
        var ColumnGroupID = '0';
        var row = '';
        $.each(items, function (i, item) {
          
            if (AutoID == "") {
                //if different group, add group title
                if (item.ColumnGroupID != ColumnGroupID) {
                    row = '<tr><td class="userRoleHeader"><input id="' + item.ColumnGroupID + '" class="userRole" type="checkbox" onChange="CheckView(this);"><label for="' + item.ColumnGroupID + '">' + item.ColumnGroupName + '</label></td></tr>';
                    $("#tblColumnList tbody").append(row);                    
                }
                row = '<tr><td><input id="' + item.FormColumnName + '" value="' + item.TableColumnName + '" name="' + item.ColumnGroupID + '" class="userRoleChild" type="checkbox" onChange="CheckView(this);"/><label for="' + item.FormColumnName + '">' + item.TableColumnName + '</label></td></tr>';                
            }
            else {   
                var checkedItem = "";
                if (item.ColumnGroupID != ColumnGroupID) {
                    
                    var groupList = items.filter((obj) => obj.ColumnGroupID === item.ColumnGroupID);
                    const groupCount = groupList.length;
                    const checkCount = groupList.filter((obj) => exportValueIDArr.includes(obj.FormColumnName)).length;
                    
                    if (groupCount == checkCount)
                        checkedItem = "checked";
                    row = '<tr><td class="userRoleHeader"><input id="' + item.ColumnGroupID + '" class="userRole" type="checkbox" onChange="CheckView(this);"' + checkedItem + '><label for="' + item.ColumnGroupID + '">' + item.ColumnGroupName + '</label></td></tr>';                   
                    $("#tblColumnList tbody").append(row);
                }
                if (exportValueIDArr.includes(item.FormColumnName)) {
                    checkedItem = "checked";
                }               
                row = '<tr><td><input id="' + item.FormColumnName + '" value="' + item.TableColumnName + '" name="' + item.ColumnGroupID + '" class="userRoleChild" type="checkbox" onChange="CheckView(this);" ' + checkedItem + '/><label for="' + item.FormColumnName + '">' + item.TableColumnName + '</label></td></tr>';               
            }
            
            $("#tblColumnList tbody").append(row);
            ColumnGroupID = item.ColumnGroupID;
        });
    }

    function CheckView(ele) {
        var clsName = $(ele).attr('class');

        //check or not child based on parent checkbox
        if (clsName == "userRole") {
            var id = $(ele).attr('id');
            $('input[name="' + id + '"]').prop('checked', ele.checked);
        }
        //check or not parent based on child
        else {
            var name = $(ele).attr('name');
            var chkCount = $("input[name='" + name + "']:checked").length;
            var total = $("input[name='" + name + "']").length;
            if (chkCount == total)
                $("#" + name).prop('checked', true);
            else
                $("#" + name).prop('checked', false);
        }
    }

    function AddColumnName() {        
        $("#ExportValue").val('');
        exportListarr = [];
        ExportValue = "";
        ExportValueID = "";
        $.each($("#tblColumnList input[type=checkbox]:checked"), function () {
            if ($(this).attr("name") != undefined) {               
                if (ExportValue == "") {
                    ExportValue = $(this).val();
                    ExportValueID = $(this).attr("id");
                }             
                else
                {
                    ExportValue += "," + $(this).val();
                    ExportValueID += "," + $(this).attr("id");
                }  
                var exportObj = { ExpValue: $(this).val(), ExpValueID: $(this).attr("id")};
                exportListarr.push(exportObj);
            }
        });
        $("#ExportValue").val(ExportValue); // add main page's textarea
        $('#exportcolumnlistModal').iziModal('close');

        if ($("#ExportValue").val()=="")
            $("#btnExportOrder").prop("disabled", true);
        else
            $("#btnExportOrder").prop("disabled", false);
    }

    function CloseExportModal() {
        $('#exportcolumnlistModal').iziModal('close');
    }
</script>
