<div id="exportcolumnlistModal" data-iziModal-title="項目選択" data-iziModal-icon="icon-home">
    <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
        <table class="userCmnSet editTable">
            <tbody>
                <tr>
                    <th></th>
                    <td>
                        <div>
                            <table cellspacing="0" id="tblColumnList" style="border-collapse:collapse;">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            BindColumn();
        });  

        function BindColumn() {

        }
    </script>
}
