<div id="ordercolumnlistModal" data-iziModal-title="項目選択" data-iziModal-icon="icon-home">
        <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
            <table class="userCmnSet editTable" id="tblOrderList" border="1">
                <thead>
                    <tr>
                        <td style="font-weight:bold">Column Name (Eng)</td>
                        <td style="font-weight:bold">Column Name (JP)</td>
                    </tr>
                </thead>
                <tbody class="sort-able-tbody"></tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" id="btnAddOrderColumn" value="Add Order Column" Style="width:100px;" onclick="AddOrderColumn();" />
                            <input type="button" id="btnClose" value="Close" style="width: 100px" onclick="CloseOrderModal()" />
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>


<script src="@Url.Content("~/Scripts/jquery-3.5.1.min.js")"></script>
<script type="text/javascript">
    //var OrderColarr=[];
    //function CloseOrderModal() {
    //    $('#ordercolumnlistModal').iziModal('close');
    //}

    //function AddOrderColumn() {       
    //    $.each($("#tblOrderList > tbody > tr"), function () {           
    //        OrderColarr.push(this.cells[0].innerHTML);
    //    });
    //}

</script>
