
<div id="SKUViewModal" data-iziModal-title="SKU" data-iziModal-icon="icon-home">
            <div class="setDetailBox confSet iconSet iconCheck" id="divUser">
                <table class="userCmnSet editTable" style="margin-bottom:0px;" id="tblOrderList" border="1">
                    <thead>
                        <tr>
                            <td>Test1</td>
                            <td>Test2</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>

</div>

<script type="text/javascript">
    function BindSKU(itemCD) {
        
    }
</script>
