
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .inlineSet li {
        display: block;
        text-align: left;
    }

    .jstree li > a > .jstree-icon {
        display: none !important;
    }
</style>
@Styles.Render(Url.Content("~/Content/shop_category.css"))

<div id="CmnContents">
    <div id="ComBlock">
        <div class="setListBox inlineSet iconSet iconList">
            <h1>ショップカテゴリ一覧画面</h1>
            <!-- CategoryID search -->
            <div class="CateIdSar resetValue searchBox">
                <h2>カテゴリ検索<span>※注意：スペース区切りで一致検 索</span></h2>
                <dl>
                    <dt>カテゴリ名</dt>
                    <dd><input type="text" id="txtcatid" placeholder="例）テニス シューズ プリンス" /></dd>
                    <dd><input type="text" id="txtcatid" class="d-none" /></dd>
                </dl>
                <p><input type="button" id="btnSearch" value="検 索" /></p>
            </div>

            <div class="shopCate operationBtn">
                <input type="file" id="upload" />
                <input type="button" id="btnImport" value="インポート" />
                <input type="button" id="btnExport" value="ー覧データをエクスポート" />
            </div>
            <!-- /operationBtn -->
            <div class="shopCate resetValue">
                <input type="text" id="btnNew" value="New" class="d-none" />
                &nbsp;&nbsp;<p class="cateTop">カテゴリTOP</p>

                <table>
                    <tr>
                        <td>
                            <ul id="menuTree">
                                <li>
                                    <div class="shopCateEdit">
                                        <p><input type="button" value="カテゴリの編集" onclick="EditCategory()" /></p>
                                        <p><input type="button" id="btnAdd" value="孫カテゴリの追加" /></p>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <div class="shopCateList">
                    <div id="treeview1" class="treeview"></div>
                </div>

                <div class="shopCateDate">
                    <table class="listTable" id="CategoryChildList" style="margin-top:0px;">
                        <thead>
                            <tr>
                                <th hidden>Category Code</th>
                                <th>Description</th>
                                <th>Serial Number</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
              <div class="shopCateBtn"><input type="button" id="btnupdate" value="編集" onclick="UpdateCategory()" /></div>
            </div><!-- /.shopCate.resetValue -->

        </div><!--setListBox-->
    </div><!--ComBlock-->
</div><!--/#CmnContents-->

@section Scripts
{
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <script src="~/Scripts/jstree.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            var selectedNodeId;
            $('#treeview1')
                .on('select_node.jstree', function (e, data) {
                    if (selectedNodeId === data.node.id) {
                        data.instance.deselect_node(data.node);
                        selectedNodeId = "";
                    } else {
                        selectedNodeId = data.node.id;
                    }
                })
                .jstree({
                    "plugins": ["search", "wholerow"],
                    'core': {
                        'data': {
                           'url': function (node) {
                                return node.id === '#' ? "/api/CategoryApi/GetRootNode" : "/api/CategoryApi/GetChildren/" + node.id;
                            },
                            'method': 'POST',
                            'headers':
                            {
                                Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                            },
                            'data': function (node) {
                                return { 'id': node.id };
                            }
                        }
                    }
                });

        });

        function EditCategory()
        {
            window.location
        }
    </script>
}
