
@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="AddUser" style="margin:100px;">Add User</button>
<div id="AddUserForm" style="margin:110px;"></div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.AddUser').on('click', function () {
                alert("S");
    $("#AddUserForm").dialog({
        autoOpen: true,
        position: { my: "center", at: "top+350", of: window },
        width: 1000,
        resizable: false,
        title: 'Add User Form',
        modal: true,
        open: function () {
            $(this).load('@Url.Action("ChildView", "Category")');
        },
        buttons: {
            "Add User": function () {
                alert("Success");
                //addUserInfo();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });
    return false;
});
        });
    </script>
}