
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <div id="treeview1" class="treeview"></div>
    </div>
</body>
</html>


@*<link type="text/css" rel="stylesheet" href="https://jonmiles.github.io/bootstrap-treeview/bower_components/bootstrap/dist/css/bootstrap.css" />*@
<script type="text/javascript" src="https://jonmiles.github.io/bootstrap-treeview/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="https://jonmiles.github.io/bootstrap-treeview/js/bootstrap-treeview.js"></script>
<script src="~/Scripts/Common.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
@*<link href="~/Vendor/bower_components/bootstrap-treeview-master/dist/bootstrap-treeview.min.css" rel="stylesheet" />*@
<script type="text/javascript">
      $(document).ready(function () {
                var obj = { ParentCategoryCD:""};
                var response = CalltoApiController('@Url.Action("CategoryTree_Select", "api/CategoryApi")', obj);

              BindTreeView(response);
            });

            function BindTreeView(response) {

                $('#treeview1').treeview({
                    expandIcon: 'fa fa-plus-square-o',
                    collapseIcon: 'fa fa-minus-square-o',
                    emptyIcon: '',
                    enableLinks: true,
                    selectedBackColor: "#03a9f3",
                    onhoverColor: "rgba(0, 0, 0, 0.05)",
                    data: response,
                    tags: ['available'],
                    onNodeSelected: function (event, data) {
                       // alert(data + "/" + data.Code);
                    }
                });

                $('#treeview1').treeview('collapseAll', { silent: true });

                //$('#treeview1').treeview({
                //    selectedBackColor: "#03a9f3",
                //    enableLinks: true,
                //    onhoverColor: "rgba(0, 0, 0, 0.05)",
                //    data: response,
                //    onNodeSelected: function (event, data) {
                //        alert(data+"/"+data.Code);
                //    }
                //});
                //$('#treeview1').treeview('collapseAll', { silent: true });
            }
</script>


@*<script type="text/javascript">
        var tree = [];
        $(document).ready(function () {


            var obj = { ParentCategoryCD:""};
            var response = CalltoApiController('@Url.Action("CategoryTree_Select", "api/CategoryApi")', obj);

            $.each(response, function (index, carrier) {
                generateNodes(carrier, tree);
            });
       });

                function BindTreeView(response) {

                    $('#treeview1').treeview({
                        selectedBackColor: "#03a9f3",
                        enableLinks: true,
                        onhoverColor: "rgba(0, 0, 0, 0.05)",
                        data: response
                    });

                    $('#treeview1').treeview('collapseAll', { silent: true });
                }
    </script>*@
